<section class="p-6 max-w-4xl mx-auto bg-white rounded shadow">

    <h2 class="text-xl font-bold mb-4">Ruta de la Orden de Servicio</h2>
  
    <google-map height="500px" width="100%" [center]="center" [zoom]="zoom">
  
      <!-- Polyline -->
      @if (path.length > 0) {
        <map-polyline
          [path]="path"
          strokeColor="blue"
          strokeWeight="4">
        </map-polyline>
      }
  
      <!-- Última ubicación -->
      @if (markerPosition) {
        <map-marker [position]="markerPosition"></map-marker>
      }
  
    </google-map>
    <div class="bg-gray-50 rounded-lg p-4 mt-6">
       <h3 class="font-semibold mt-6 mb-3">Historial de estados</h3>
      <app-order-timeline
        [idOrden]="ordenId"
        (loaded)="orderTimeline = $event">
      </app-order-timeline>
    </div>

  
  </section>
  